__pycache__/
*.py[cod]
Baseline_CodeV2/__pycache__/
output/
.idea
.ipynb_checkpoints
.git
.idea/
submission/
model/
Baseline_CodeV2/experiment_mlflow
Baseline_CodeV2/mlruns
Baseline_Code_V4/saved_model/
Baseline_CodeV3/AutoML
Baseline_Code_V4/search_space.json
Baseline_Code_V4/config.yml
Baseline_Code_V4/train_config.yaml
Baseline_Code_V4/model_config/